.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        = @group.name
      %ul.main-header__left-box__member-list  
        Member :
        %li.main-header__left-box__member-list__member
          - @group.users.each do |user|
            = user.name
    = link_to edit_group_path(@group), class: 'main-header__edit-btn' do
      Edit

  .messages
    = render @messages
  
  .form
    = form_for [@group, @message],  class: 'new_message' do |f|
      = f.text_field :content, class: 'form-message', placeholder: 'type a message' 
      = f.label :image, class: 'input-box__image' do
        = icon 'fa fa-image', class: 'fa fa-image' 
        = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'